<div class="= "content >
    <h1 style="text-align : center;">Home Page</h1>
    <!-- custom directive -->
    <!-- cities = "cities" is where we are passing on the attributes, cities is js obj so no need of single quotes but
    Random city is a string so we need single quotes -->
    <random-city cities = "cities" title = "'Random City'">
        <!-- this text blw will be shown on app cuz of transclude if transclude aint used it will will be deleted -->
        <p>Check out the random city that appears on screen</p>   
    </random-city>

</div>